.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
    width: 100%;
  
    .header {
      text-align: center;
      margin-bottom: 10px;
    }
    .alert {
      width: 100%;
      max-width: 2000px;
      margin: 10px 20px;
      padding: 10px;
      border-radius: 5px;
      font-size: 200%;
      text-align: center;
    }
    mat-card {
      width: 80%;
      max-width: 2000px;
  
      mat-card-title {
        display: flex;
        justify-content: center;
        margin: 10px 20px;
        text-align: center;
        font-size: large;
      }
  
      mat-card-content {
        display: flex;
        justify-content: center;
        font-size: large;

  
        form {
          width: 100%;
          max-width: 500px;
  
          mat-form-field {
            width: 100%;
            margin-bottom: 20px;
            font-size: large;
          }
  
          .button {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            .submit-button {
                background-color: #3a477d; // Light blue
                color: white;
                padding: 8px 24px;
                border: 2px solid #334b93; // Slightly lighter blue for outline
                transition: all 0.3s ease;
                
                &:not([disabled]):hover {
                  background-color: #6f73e6;
                  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                }
                
                &:not([disabled]):active {
                  background-color: #4b3d71;
                  transform: translateY(1px);
                }
                
                &[disabled] {
                  background-color: rgba(92, 131, 211, 0.5); // Lighter version of the dark green
                  border-color: rgba(99, 102, 143, 0.5); // Lighter version of the border
                }
            }
            }
        }
        }
    }
    }