<div class="container">
    <div class="header">
      <h2>Velkommen til SmaRTWork</h2>
      <h3>Vennligst skriv inn passordet ditt her</h3>
    </div>
<mat-card style="background-color: rgba(51, 170, 51, .1)">
    <mat-card-title>Kjære {{username}}, angi passordet ditt her. Du vil bruke den til å logge på appen.</mat-card-title>
  <mat-card-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
  
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
        Password must be at least 8 characters  </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')"> Password must contain at least one letter and one number</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
      <mat-error *ngIf="loginForm.get('confirmPassword')?.hasError('required')">
        Please confirm your password
      </mat-error>
      <mat-error *ngIf="loginForm.get('confirmPassword')?.hasError('passwordMismatch')">
        Passwords do not match
      </mat-error>
    </mat-form-field>
  <!--</p>
  <div style="margin-top: 20px; color: gray;">
    <small>Form valid: {{loginForm.valid}}</small><br>
    <small>password: {{loginForm.get('password')}}</small>
  </div>-->

   </p>
  <div style="margin-top: 15px; color: gray;">
    <small>Password must be atleast 8 characters and must have atleast one number and one alphabet.</small><br>
    <small></small>
  </div>
  
 <div class="button">
    <button type="submit" mat-raised-button class="submit-button" [disabled]="!loginForm.valid">Submit Password</button>
  </div>
  
  </form>
  </mat-card-content>
  </mat-card>